table {
    width:50%;
    margin-left:25%;
}
body {
    background-color: #F5F5DC;
    text-align: center;
}
h1{
    text-align: center;
    margin:auto;
}
p{
    text-align: center;
}
#auth{
    text-align: center;
    display: block;
    margin-bottom: 0px;
    background-color: #DCDCDC;
    width:20%;
    margin-left:75%;
    position: relative;

}